[Unit]
Description=Login Assessment 2018

[Service]
WorkingDirectory=/var/www/LoginAssessment/LoginAssessment/bin/Release/netcoreapp2.1/publish
ExecStart=/usr/bin/dotnet LoginAssessment.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=loginassessment
User=root

[Install]
WantedBy=multi-user.target