<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form>
                    <h1>Welcome</h1>
                    <div>
                        <a href="Home/Login" class="btn btn-default submit">Begin</a>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        New to site?
                        <a href="Home/Register" class="to_register">Create Account</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>