<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="POST" id="login_pass">
                    <h1>Login Form</h1>
                    <div>
                        <input type="email" name="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div>
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <div>
                        <button class="btn btn-default submit">Log in</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            New to site?
                            <a href="/Home/Register" class="to_register">Create Account</a><br>
                            <a href="/Home/PasswordReset" class="to_register">Forgot Password</a>
                        </p>
                        <div class="clearfix"></div>
                        <br>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>