<div class="login_wrapper" ng-controller="DummyController">
    <div class="animate form login_form">
        <section class="login_content">
            <form method="POST" action="~/Home/LoginPassphrase" id="login_phrase" name="passPhrase">
                <h1>Passphrase</h1>
                @if (ViewBag.PassphraseReset.ToString() == "True")
                {
                    <div class="alert alert-success" role="alert" id="success" style="text-shadow: none; color: #000">
                        Successfully Updated Passphrase.<br>Enter your new passphrase to login
                    </div>
                }
                else
                {
                    if (string.IsNullOrWhiteSpace(ViewBag.Email))
                    {
                        <div class="alert alert-success" role="alert" id="fail" style="text-shadow: none; color: #000">
                            <h5>Username and Password Correct</h5>
                            You have successfully entered your username and password. Please enter passphrase below to finish login.
                        </div>
                    }
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.Email))
                {
                    <input type="hidden" name="Email" value="@ViewBag.Email" />
                }
                <div>
                    <input placeholder="16+ lower case characters only" type="password" name="Passphrase" class="form-control" placeholder="Passphrase" ng-pattern="/^([a-z ]){16,256}$/" ng-model="passphrase" required>
                </div>
                <br />
                <div>
                    <button ng-disabled="!passPhrase.$valid" type="submit" class="btn btn-default submit">Log in</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">
                        New to site?
                        <a href="Register" class="to_register">Create Account</a><br>
                        <a href="PassphraseReset" class="to_register">Forgot Passphrase</a>
                    </p>

                    <div class="clearfix"></div>
                    <br>
                </div>
            </form>
        </section>
    </div>
</div>