<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form method="POST" id="login_pass">
                    <h1>Forgot Password</h1>
                    <div style="text-align: left; color: darkred;">
                        <p>
                            Password must meet the following criteria
                        </p><ol>
                            <li>More than 8 characters long</li>
                            <li>At least 1 special character (e.g. @@, $, %)</li>
                            <li>At least 1 number (e.g. 3, 5, 2)</li>
                            <li>At least 1 lowercase letter (e.g. a, h, k)</li>
                            <li>At least 1 uppercase letter (e.g. Q, L, G)</li>
                        </ol>
                        The indicator will tell you if password is strong enough
                        <p></p>
                    </div>
                    <div class="alert alert-danger" role="alert" id="fail" style="display: none; text-shadow: none; color: #000">
                        Email Address Does Not Exist
                    </div>
                    <div class="alert alert-success" role="alert" id="success" style="display: none; text-shadow: none; color: #000">
                        Successfully Updated Password.<br>Click on Back to go back and re-enter password
                    </div>
                    <div>
                        <input type="email" name="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="New Password" required=""><div class="progress "><div class="progress-bar progress-bar-danger" style="width: 1%;"><span class="password-verdict" style="white-space: nowrap;"></span></div></div>
                    </div>
                    <div>
                        <input type="password" id="password2" class="form-control" placeholder="Confirm New Password" required="">
                    </div>
                    <div>
                        <button class="btn btn-default submit">Submit</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">
                            <a href="Home\Login" class="to_register">Go Back</a>
                        </p>

                        <div class="clearfix"></div>
                        <br>

                    </div>
                </form>
            </section>
        </div>
    </div>
</div>