<div class="login_wrapper" ng-controller="RegisterController">
    <div class="row">
        <section class="login_content">
            @*<div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" data-original-title="Step 1">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" ng-class="{disabled: step2Disabled}">
                                <a href="#step2" data-toggle="{{step2State}}" aria-controls="step2" role="tab" title="" data-original-title="Step 2">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-eye-open"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" ng-class="{disabled: step3Disabled}">
                                <a href="#step3" data-toggle="{{step3State}}" aria-controls="step3" role="tab" title="" data-original-title="Step 3">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </a>
                            </li>
                            <li role="presentation" ng-class="{disabled: step4Disabled}">
                                <a href="#step4" data-toggle="{{step4State}}" aria-controls="complete" role="tab" title="" data-original-title="Complete">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <form method="POST" id="register">
                        <h1>Create Account</h1>
                        <div class="alert alert-danger" role="alert" id="fail" style="display: none; text-shadow: none; color: #000">
                            Registration Failed
                            <br>
                            Email has already been used
                        </div>
                        <div class="tab-content">
                            <fieldset class="tab-pane active" role="tabpanel" id="step1">
                                <h4>Step 1</h4>
                                <div style="margin: 0 0 20px;">
                                    <input type="number" min="" step="1" class="form-control" name="age" placeholder="Age" required="">
                                </div>
                                <div style="margin: 0 0 20px;">
                                    <select class="form-control" name="gender" style="text-align: center; text-align-last: center;">
                                        <option selected="selected" disabled="disabled" value=""> --- Gender --- </option>
                                        <option value="0">Female</option>
                                        <option value="1">Male</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                </div>
                                <div class="clearfix"></div>
                                <button ng-click="goToStep2()" class="btn btn-default next-step" type="button">Next</button>
                            </fieldset>
                            <fieldset class="tab-pane" role="tabpanel" id="step2">
                                <h4>Step 2</h4>
                                <div style="text-align: left; color: darkred;">
                                    <p>
                                        Password must meet the following criteria
                                    </p><ol>
                                        <li>More than 8 characters long</li>
                                        <li>At least 1 special character (e.g. @@, $, %)</li>
                                        <li>At least 1 number (e.g. 3, 5, 2)</li>
                                        <li>At least 1 lowercase letter (e.g. a, h, k)</li>
                                        <li>At least 1 uppercase letter (e.g. Q, L, G)</li>
                                    </ol>
                                    The indicator will tell you if password is strong enough
                                    <p></p>
                                </div>
                                <div>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required=""><div class="progress "><div class="progress-bar progress-bar-danger" style="width: 1%;"><span class="password-verdict" style="white-space: nowrap;"></span></div></div>
                                </div>
                                <div>
                                    <input type="password" class="form-control" id="password2" placeholder="Confirm Password" required="">
                                </div>
                                <div class="clearfix"></div>
                                <br>
                                <button class="btn btn-default prev-step" type="button">Previous</button>
                                <button class="btn btn-default next-step" type="button">Next</button>
                            </fieldset>
                            <fieldset class="tab-pane" role="tabpanel" id="step3">
                                <h4>Step 3</h4>
                                <div style="text-align: left; color: darkred;">
                                    <p>
                                        Please create a passphrase that meets the following criteria
                                    </p><ol>
                                        <li>Only lowercase letters</li>
                                        <li>12 or more characters</li>
                                    </ol>
                                    The stronger the passphrase gets the faster the rabbit will run
                                    <p></p>
                                </div>
                                <div>
                                    <input type="text" class="form-control" name="passphrase" id="passphrase" placeholder="Enter Passphrase" onkeydown="checkPassphrase()" required="">
                                </div>
                                <div>
                                    <input type="text" class="form-control" name="confirmpassphrase" id="passphrase2" placeholder="Confirm Passphrase" required="">
                                </div>
                                <div>
                                    <img src="~/images/00-slowest.gif" id="rabbit" class="img-thumbnail">
                                </div>
                                <div class="clearfix"></div>
                                <br>
                                <button class="btn btn-default prev-step" type="button">Previous</button>
                                <button class="btn btn-default next-step" type="button">Next</button>
                            </fieldset>
                            <fieldset class="tab-pane" role="tabpanel" id="step4">
                                <h4>Complete</h4>
                                <p>
                                    You have successfully completed all steps.
                                    <br>
                                    Please click register to countinue
                                    <br>
                                    or go back and rectify any issues
                                </p>
                                <div class="clearfix"></div>
                                <button class="btn btn-default prev-step" type="button">Previous</button>
                                <button type="submit" class="btn btn-default submit">Register</button>
                            </fieldset>
                        </div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <br>
                                <a href="Login" class="to_register">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>*@
            <form role="form" class="form-horizontal" name="registerForm" method="post" action="~/Home/Register">
                <uib-tabset active="active">
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-user"></i>
                        </uib-tab-heading>
                        <h1>Create Account</h1>
                        <fieldset class="tab-pane active" role="tabpanel" id="step1">
                            <h4>Step 1</h4>
                            <div class="row form-group">
                                <input type="number" min="18" ng-model="age" ng-change="validateStep1()" step="1" class="form-control" name="age" placeholder="Age" required>
                            </div>
                            <div class="row form-group">
                                <select class="form-control" ng-model="gender" ng-change="validateStep1()" name="gender" style="text-align: center; text-align-last: center;">
                                    <option selected="selected" disabled="disabled" value=""> --- Gender --- </option>
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>
                            <div class="row form-group">
                                <input type="email" ng-model="email" ng-change="validateStep1()" class="form-control" name="email" placeholder="Email" required>
                            </div>
                            <div class="row form-group">
                                <button ng-disabled="!canProceedToStep2()" ng-click="goToStep2()" class="btn btn-default next-step" type="button">Next</button>
                            </div>
                        </fieldset>
                    </uib-tab>
                    <uib-tab index="1" disable="step2Disabled">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </uib-tab-heading>
                        <h1>Create Account</h1>
                        <fieldset class="tab-pane active" role="tabpanel" id="step2">
                            <h4>Step 2</h4>
                            <div class="row form-group" style="text-align:justify">
                                <div class="checkbox">
                                    <checkbox class="btn btn-success" ng-model="isValidLength" ng-show="isValidLength" disabled></checkbox>
                                    <checkbox class="btn btn-danger" ng-model="isValidLength" ng-show="!isValidLength" disabled></checkbox>
                                    More than 8 characters long
                                </div>
                                <div class="checkbox">
                                    <checkbox class="btn btn-success" ng-model="hasSpecialCharacter" ng-show="hasSpecialCharacter" disabled></checkbox>
                                    <checkbox class="btn btn-danger" ng-model="hasSpecialCharacter" ng-show="!hasSpecialCharacter" disabled></checkbox>
                                    At least 1 special character (e.g. @@, $, %)
                                </div>
                                <div class="checkbox">
                                    <checkbox class="btn btn-success" ng-model="hasDigit" ng-show="hasDigit" disabled></checkbox>
                                    <checkbox class="btn btn-danger" ng-model="hasDigit" ng-show="!hasDigit" disabled></checkbox>
                                    At least 1 number (e.g. 3, 5, 2)
                                </div>
                                <div class="checkbox">
                                    <checkbox class="btn btn-success" ng-model="hasLowercaseLetter" ng-show="hasLowercaseLetter" disabled></checkbox>
                                    <checkbox class="btn btn-danger" ng-model="hasLowercaseLetter" ng-show="!hasLowercaseLetter" disabled></checkbox>
                                    At least 1 lowercase letter (e.g. a, h, k)
                                </div>
                                <div class="checkbox">
                                    <checkbox class="btn btn-success" ng-model="hasUppercaseLetter" ng-show="hasUppercaseLetter" disabled></checkbox>
                                    <checkbox class="btn btn-danger" ng-model="hasUppercaseLetter" ng-show="!hasUppercaseLetter" disabled></checkbox>
                                    At least 1 uppercase letter (e.g. Q, L, G)
                                </div>
                            </div>
                            <div class="row form-group">
                                <input type="password" ng-model="password" ng-change="password1Change()" class="form-control" name="password" id="password" placeholder="Password" required>
                            </div>
                            <div class="row form-group">
                                <input type="password" ng-model="password2" ng-change="password2Change()" class="form-control" name="password2" id="password2" placeholder="Confirm Password" required>
                                <div ng-if="passwordsNotMatching">
                                    <small style="color: red">Passwords do not match</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <button ng-click="goToStep1()" class="btn btn-default prev-step" type="button">Previous</button>
                                <button ng-disabled="!canProceedToStep3()" ng-click="goToStep3()" class="btn btn-default next-step" type="button">Next</button>
                            </div>
                        </fieldset>
                    </uib-tab>
                    <uib-tab index="2" disable="step3Disabled">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-pencil"></i>
                        </uib-tab-heading>
                        <h1>Create Account</h1>
                        <fieldset>
                            <h4>Step 3</h4>
                            <div style="text-align: left; color: darkred;">
                                <p>
                                    Please create a passphrase that meets the following criteria
                                </p><ol>
                                    <li>Only lowercase letters</li>
                                    <li>12 or more characters</li>
                                </ol>
                                The stronger the passphrase gets the faster the rabbit will run
                                <p></p>
                            </div>
                            <div class="form-group">
                                <input type="password" ng-pattern="/^([a-z ]){12,256}$/" maxlength="256" class="form-control" name="passphrase" id="passphrase" placeholder="Enter Passphrase" ng-model="passphrase" pass-check="passwordStrength" required />
                            </div>
                            <div class="form-group">
                                <input type="password" maxlength="256" class="form-control" name="passphrase2" id="passphrase2" placeholder="Confirm Passphrase" ng-model="passphrase2" ng-change="checkPassphraseMatch()" required />
                                <div ng-if="passphraseNotMatching">
                                    <small style="color: red">Passphrases do not match</small>
                                </div>
                            </div>
                            <div>
                                <img ng-if="strength && strength.score <= 10" src="~/images/00-slowest.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 10 && strength.score <= 15" src="~/images/01-slower.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 15 && strength.score <= 40" src="~/images/02-slow.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 40 && strength.score <= 60" src="~/images/03-normal.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 60 && strength.score <= 80" src="~/images/04-fast.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 80 && strength.score < 100" src="~/images/05-faster.gif" id="rabbit" class="img-thumbnail">
                                <img ng-if="strength && strength.score > 100" src="~/images/06-fastest.gif" id="rabbit" class="img-thumbnail">
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <button ng-click="goToStep2()" class="btn btn-default prev-step" type="button">Previous</button>
                            <button ng-disabled="!canProceedToStep4()" ng-click="goToStep4()" class="btn btn-default next-step" type="button">Next</button>
                        </fieldset>
                    </uib-tab>
                    <uib-tab index="3" disable="step4Disabled">
                        <uib-tab-heading>
                            <i class="glyphicon glyphicon-ok"></i>
                        </uib-tab-heading>
                        <h1>Create Account</h1>
                        <fieldset>
                            <h4>Complete</h4>
                            <p>
                                You have successfully completed all steps.
                                <br>
                                Please click register to continue
                                <br>
                                or go back and rectify any issues
                            </p>
                            <div class="clearfix"></div>
                            <button ng-click="goToStep3()" class="btn btn-default prev-step" type="button">Previous</button>
                            <button type="submit" class="btn btn-default submit">Register</button>
                        </fieldset>
                    </uib-tab>
                </uib-tabset>


                <div class="separator">
                    <p class="change_link">
                        Already a member ?
                        <br>
                        <a href="Login" class="to_register">Log in</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
