<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            @if (ViewBag.PasswordFailComplete)
            {
                <p>
                    Thank you for participating.
                </p>
                <div>
                    <span>Please click&nbsp;<a href="/Home/PasswordReset" style="color: blue">here&nbsp;</a>to reset your password or&nbsp;<a href="/Home/LoginPassphrase?emailAddress=@ViewBag.Email" style="color: blue">continue</a> to the passphrase login.</span>
                </div>
            }
            else if (ViewBag.PassphraseFailComplete)
            {
                <p>
                    Thank you for participating.
                </p>
                <div>
                    <span>Please click&nbsp;<a href="/Home/PassphraseReset" style="color: blue">here</a>&nbsp;reset your passphrase or login again tomorrow.</span>
                </div>
            }
            else
            {
                <p>
                    Thank you for participating. Please login again tomorrow.
                </p>
            }
        </section>
    </div>
</div>