<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <p>
                Thank you for participating. Please login again tomorrow.
            </p>
        </section>
    </div>
</div>